
@charset "ISO-8859-1";
body {
    background-color: #808080;
    height: 1000px;
    margin: 2em auto;
    width: 80%;
}
header {
    background-color: #FFFFFF;
    box-shadow: 0 1px 12px #FFFFFF;
    height: 10%;
    margin: 1em 0;
    padding: 0 0.15em;
    width: 100%;
}
section {
    background-color: #00FFFF;
    border: 1px solid #000000;
    height: 80%;
    width: 100%;
}
footer {
    background-color: #FFFFEE;
    border: 1px solid #000000;
    height: 10%;
    padding-left: 1em;
    width: 100%;
}
#sign_up {
    box-shadow: 0 3px 7px #000000;
    float: right;
    margin: 1em;
    padding: 1.5em;
}
#log_in {
    float: right;
    margin: 0.3em;
}
#sign_up input {
    margin: 1.2em .05em;
}
#latest_news {
    border-left: 1px dashed #000000;
    border-radius: 5px;
    box-shadow: 5px 2px 5px #808080;
    float: left;
    height: 100%;
    margin-right: 2em;
    width: 25%;
}
#tab_about {
    height: 88%;
}
#latest_news li {
    line-height: 5.2em;
    list-style: none outside none;
}
